html, body {
  margin: 0;
  padding: 0;
  background-image: url(bg.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

#index_page {
  top:0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  justify-content: center;
}

#lastlog_container {
  margin-top: 20px;
  position: relative;
  display: block;
  width: 75%;
}

#header {
  display: block;
}

#lastlog {

}
