html, body {
  margin: 0;
  padding: 0;
  background-image: url(bg.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: #c6c6c6;
}
#czas {
  display: inline-block;
}

#index_page {
  top:0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
}

#lastlog_container {
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  padding: 25px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  display: block;
  /*width: 75%;*/
}

#header {
  display: block;
  font-size: 2em;
  /*font-weight: bold;*/
  justify-content: center;
  text-align: center;
}

/*#header > span {
  width: 100%;
}*/

#lastlog {
  margin-top: 10px;
  /*display: flex;*/
  position: relative;
}

.rpi {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 5px;
  padding: 5px;
  float: left;
}

.rpi .rpi-header {
  display: block;
}

.rpi-header-id {
  font-size: 1.7em;
  font-family: monospace;
}

.rpi-header-rpi-name {
  font-size: 2em;
  font-weight: bold;
  font-family: monospace;
}

.status_OK {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: url(failok.png);
    background-position-x: 0px;
}

.status_FAIL {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-image: url(failok.png);
  background-position-x: 150px;
}
