html, body {
  margin: 0;
  padding: 0;
  background-image: url(bg.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: #c6c6c6;
}
#czas {
  display: inline-block;
}

#gphoto2 {
  color: #005911;
  text-transform: uppercase;
  text-decoration: none;
  font-family: monospace;
  font-size: 2em;
}

#github {
  background-image: url(github.png);
  /*background-color: rgba(255, 255  , 255, 0.1);*/
  background-size: cover;
  width:148px;
  height: 55px;
  display: inline-block;
}

#index_page {
  top:0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
}

#lastlog_container {
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  padding: 25px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  display: block;
  width: 60%;
  justify-content: center;
  text-align: center;
}

#header {
  display: block;
  font-size: 2em;
  /*font-weight: bold;*/
  justify-content: center;
  text-align: center;
}

#lastlog {
  margin-top: 10px;
  position: relative;
}

.rpi {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 5px;
  padding: 5px;
  float: left;
}

.rpi > .rpi-header {
  display: block;
}

.rpi-header-id {
  font-size: 1.0em;
  font-family: monospace;
  vertical-align: top;
}

.rpi-header-rpi-name {
  font-size: 2em;
  font-weight: bold;
  font-family: monospace;
}

.rpi-filename {
  text-align: left;
  font-family: monospace;
}

.rpi-date {
  text-align: left;
  font-family: sans-serif;
  font-size: 0.7em;
}

.rpi-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status_OK {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url(failok.png);
    background-position-x: 0px;
}

.status_FAIL {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url(failok.png);
  background-position-x: 100px;
}

#footer-container {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-powered {

}

#footer-powered span {

}

#footer-powered > span.link a{
  color: #008601;
}
