{% extends "layout.html" %}
{% block body %}

<div id="index_page">
  <div id="lastlog_container">
    <div id="status">
      <span>Status:
        {% if status in "OK" %}
        Camera online
        {% else %}
        Camera offline
        {% endif %}
      </span>
      <div id="status_{{ status }}"></div>
    </div>
    <hr />
    <div id="header">
      <span>Aktualny czas: {{ time }}</span>
      <br/>
      <span>Ostatnie {{ limit }} wpisów z aparatu</span>
    </div>
    <div id="lastlog">
      <table>
        <tbody>
        <tr>
          <th>ID</th><th>Log</th><th>Data</th><th>Nazwa pliku</th>
        </tr>
        {% for row in results %}
        <tr>
          <td class="td_id">
            {{ row['id'] }}
          </td>
          <td class="td_log">
            {{ row['log'] }}
          </td>
          <td class="td_date">
            {{ row['date'] }}
          </td>
          <td class="td_filename">
            {{ row['filename'] }}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
setTimeout(function(){
   window.location.reload(1);
}, 60000);
</script>

{% endblock %}
